#userscript-progress-overlay {
  position: fixed;
  inset: 0;
  z-index: 2200;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: wait; */

  .progress-dialog {
    background: #040915;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 0 40px 80px #040915;
  }

  #progress-anim {
    padding: 24px 32px;
    border-radius: 8px;
    display: flex;
    margin: auto;
  }

  #progress-cancel {
    scale: 0.6;
    margin-left: auto;
  }
}
