#um-mission-pikcer-info {
  border: 1px yellow solid;
  border-radius: 2px;
  margin: 4px;
  margin-top: 4px;
  margin-top: 1em;
}

.umm-mission-btn {
  margin-right: 1em;
  margin-top: 2px;
  margin-bottom: 2px;

  &.w-full {
    width: 90%;
  }
}

.um-options-list {
  overflow: hidden;
}
