name: Build
on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "*"
permissions:
  contents: write
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: yarn install
      - name: Build Production
        run: yarn build:prod
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.event.repository.name }} ${{ github.ref_name }}
          draft: false
          files: |
            dist/iitc_plugin_UMM_Ext.user.js
            dist/iitc_plugin_UMM_Ext.meta.js
      - name: Git add Dist
        uses: EndBug/add-and-commit@v9
        with:
          add: dist/* --force
          message: Release ${{ github.ref_name }}
          push: origin HEAD:main --force
